@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  box-shadow: -2px -3px 20px 0px #8f8d8d;
}

.card-showcase {
  transform: rotatez(354deg);
}

body {
  background-color: whitesmoke;
}

select.form-select option {
  width: 90%;
  max-width: 480px;
}

select.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
